[user]
    email = alopexplenus@gmail.com
    name = nik
    signingkey = 2D9241D25987AB4A
    #signingkey = B0DC4755E972B4D7
[core]
    excludesFile = ~/.gitignore_global
    pager = delta
[interactive]
    diffFilter = delta  --syntax-theme 1337
[delta]
    navigate = true    # use n and N to move between diff sections
    side-by-side = true
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
[url "ssh://git@github.com/"]
    insteadOf = https://github.com/
[init]
    defaultBranch = main
[commit]
    gpgsign = true
[pull]
    rebase = true
